@model SecureAuth.WebApp.Models.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css//login-style.css" />
    <link rel="stylesheet" href="~/css//register-style.css" />
</head>
<body>
    <div class="login-form">
        <h2>Регистрация</h2>
        <h4>Создайте новый аккаунт</h4>
        <hr />

        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <hr />
        <p>
            <a href="@Url.Action("Login", "Account")">Уже есть аккаунт? Войти</a>
        </p>
    </div>
</body>
</html>